body {
    margin: 0;
    background-image: url('images/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#imagenSeleccionadaContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 150px; /* Ajusta este valor según sea necesario para limitar la altura */
    
    background-color: #ffffff; /* Color blanco de fondo */
    padding: 2%;
    border-top-left-radius: 15px; /* Bordes redondos en la esquina superior izquierda */
    border-top-right-radius: 15px; /* Bordes redondos en la esquina superior derecha */
    border: 3px solid #cccccc; /* Grosor y color del borde */
    box-sizing: border-box; /* Incluye el grosor del borde en el tamaño total del elemento */
    text-align: center; /* Centrar el texto */
    
}

#imagenSeleccionadaContainer h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0; /* Eliminamos el espacio superior del título */
    
}

#imagenSeleccionadaContainer img {
    border-style: solid;
    border-color: rgb(11, 245, 233);
    height: 7%;
    width: 7%;
    float: left; 
}
#border img {
    border-style: solid;
    border-color: rgb(11, 245, 233);
}
/* Nuevo contenedor con fondo blanco */
#volverMenuContainer {
    position: fixed;
    top: 10px; /* Ajusta la distancia desde la parte superior según sea necesario */
    left: 10px; /* Ajusta la distancia desde la izquierda según sea necesario */
    z-index: 1000;
    background-color: rgb(11, 245, 233); /* Fondo blanco */
}

/* Estilo original con degradado */
#volverMenu {
    border-style: solid;
    border-color: black;
    background: linear-gradient(-45deg, #52eea0, #dbff38, #00bafdf6, #0041f5);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: x-large;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: fluido 10s ease-in-out infinite, backgroundChange 0.5s ease-out;
}



@keyframes fluido {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#volverMenu:hover {
    color: blueviolet;
    border-color: rgb(11, 245, 233);
    animation: none; /* Detiene la animación al pasar por encima */
}
